<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body class="{% block body_class %}{% endblock %}">
    <main>
      <div class="main-container">
        <header>
          <div class="header-container">
            <div class="logo">
              <img src="../static/img/logo.png" alt="Logo da UNES" />
            </div>
            <nav class="navbar">
              <ul>
                <a href="/home">Home</a>
                |
                <a href="/quemsomos">Quem somos</a>
                |
                <a href="/contato">Contato</a>
              </ul>
            </nav>
          </div>
        </header>
        <div class="content-container">{% block content %} {% endblock %}</div>
      </div>
    </main>
    <footer>
      <div class="footer">
        <p><b>Todos os direitos reservados</b></p>
      </div>
    </footer>
  </body>
</html>
